<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5>Formas de Pagamento</h5>
        <img src="assets/visa.png" alt="Visa" width="50">
        <img src="assets/mastercard.png" alt="Mastercard" width="50">
      </div>
      <div class="col">
        <h5>Redes Sociais</h5>
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
      </div>
      <div class="col">
        <h5>Atendimento</h5>
        <p>Telefone: (11) 1234-5678</p>
        <p>Email: contato@lojasapatos.com</p>
      </div>
    </div>
  </div>
</footer>
