.navbar {
  padding: 15px 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2e4c2f;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #0056b3;
}

.nav-link {
  color: #333;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  font-weight: bold;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(100%);
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  .nav-link {
    margin-right: 0;
    padding: 10px;
  }
}
